@import "../../variables";
.choices-container {
  width: 100%;
  position: relative;
}
.choices {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  font-family: "Palanquin", serif;
  margin: 20px 0 0 0;

  li,
  .choice {
    display: flex;
    width: 100%;
    align-items: center;
  }

  li {
    list-style-type: none;
    justify-content: center;
  }
}

h3.correct {
  color: $emerald;
}
h3.incorrect {
  color: red;
}

.choice {
  justify-content: space-between;

  .text {
    display: flex;
  }

  &.correct.selected {
    border: 1px solid $emerald;
    background: $spring-green;
  }

  &.incorrect.selected {
    background-color: $error;
  }
}
.choice {
  border-radius: 5px;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  &.primary {
    background-color: $spring-green;
  }

  &.secondary {
    background-color: $aquamarine;
  }
  &.disabled {
    pointer-events: none;
  }
}

.choice:hover:not(.disabled) {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

// svgs
.mark {
  width: 30px;
  height: 30px;
  img {
    width: 100%;
  }
}

.response {
  min-height: 42px;
  margin: 0;
}

.next-btn {
  position: fixed;
  bottom: 0;
  right: 0;
}

/* Mobile Responsive Styles */
// Desktop
@media (min-width: 1024px) {
  .next-btn {
    position: absolute;
    top: 0;
    right: -30%;
  }
}
/* Tablet */
@media (min-width: 600px) and (max-width: 1023px) {
  .next-btn {
    bottom: -10%;
  }
}
