@import "./variables";

body {
  background: $gradient-top;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: "Palanquin", serif;
  font-size: 20px;
}

h1,
h2 {
  font-family: "DynaPuff", serif;
}
