@import "./variables";

body {
  background: $gradient-top;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: "Palanquin", serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 40px;
  text-align: center;
}

h1,
h2 {
  font-family: "DynaPuff", serif;
  margin: 20px 0;
}

p {
  margin: 10px 0;
}

.github {
  margin: 20px;
  position: fixed;
  right: 0;
  bottom: 0;
  cursor: pointer;
}
a {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  box-shadow: transparent;
  transition: box-shadow 0.4s ease-in-out;
  &:hover {
    box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
      rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
      rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
      rgba(44, 187, 99, 0.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
  }

  img {
    width: 30px;
    height: 30px;
  }
  &:visited {
    color: inherit;
  }
}
