@import "./variables";

body {
  background: $gradient-top;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: "Palanquin", serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 40px;
}

h1,
h2 {
  font-family: "DynaPuff", serif;
  margin: 20px 0;
}

p {
  margin: 10px 0;
}
